---
layout: default
title: Welcome to Pelagios Network

---


<div class="home-hero">
	<div class="constrained">
		<div class="home-intro">
			<h1>Pelagios Network</h1>
			<h2>Connecting people and data through shared methods for linked historical and heritage data.</h2>
			<p>Pelagios is an open network and community of practice that develops and promotes standards and methods for linking data,  supported by active interest groups and open tools.</p>
			<p>
				<a href="{{ '/about-us.html' | relative_url }}">About the network</a>
			</p>
		</div>

		<div class="home-video">
			<div class="video">
				<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/MVaFbBvY6bA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<a href="https://www.wearecognitive.com">This whiteboard animation was made by Cognitive</a>
			</div>
		</div>
	</div>
</div>

<div class="home-promo promo-1">
	<h2>Shared standards and methods</h2>
	<h3> We are improving practices</h3>
	<p>Pelagios promotes collaboration, FAIR and CARE principles, and lightweight approaches to data across the humanities and heritage sectors.</p>
	<p class="link-list">
		<a href="">Why link your data?</a>
		<a href="">Tools and resources</a>
	</p>

</div>



<div class="case-studies--home-wrapper">
	<div class="video">
		<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/MVaFbBvY6bA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<a href="https://www.wearecognitive.com">This whiteboard animation was made by Cognitive</a>
	</div>
</div>



<div class="activities--home">
	<h2>The Pelagios Network is organised through different core Activities:</h2>
	{% assign sorted_activities = site.activities | sort:'name' %}
 	{% for activity in sorted_activities %}
	<div class="activities--teaser">
  <a href="{{ activity.url | relative_url }}">
    <img src="{{ activity.image | relative_url }}" alt="{{ activity.title }}">
    <h2>{{ activity.title }}</h2>
    <p>{{ activity.excerpt | strip_html }}</p>
    {% if activity.activity-email %}
      <p>{{ activity.activity-email | strip_html }}</p>
    {% endif %}
  </a>
</div>
 	{% endfor %}
</div>
