
body {
  margin: 0;
  overflow-x:hidden;
}

.constrained {
  width: 90%;
  max-width: $content-max-width;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container li {
  line-height: 1.4;
  margin: 0 0 5px 0;
}

.constrained.container {
  
}

.page--type-case-studies,
.page--type-activities {
  .constrained.container {
    @media (min-width: 600px){
      float: left;
      padding-left: 30%;
      width: 68%;
      .main-image {
          margin-left:  -28%;
          position: absolute;
          padding-right: 30px;
          width: 25%;
      }
    }
    @media (min-width: 800px){
      float: initial;
      padding-left: $content-column-width;
      max-width: $content-column-width-large;
      .main-image {
          margin-left:  -220px;
          width: 170px;
      }
    }
    .main-image {
      margin-top: -33px;
      img {
        width: 100%;
      }
    }
  }
}

.partner--related,
.activity--coordinator {
  float: left;
  width: 100%;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: $light-grey;
    float: left;
    margin-right: 20px;

  }
  h3 {
    margin-top: 10px;
  }
  .partner--text {
    display: block;
    float: left;
    width: calc(100% - 70px);
  }
}

.partner--related:last-of-type {
  margin-bottom: 20px;
}

.partner--related {
  margin-bottom: 30px;
  p {
    font-size: $font-size-small;
  }
}


.activity--coordinator p {
  margin: 0;
}

.activity--case-studies {
  img {
    float: right;
    margin: 15px 0 20px 20px;
    width: 125px;
  }
}


.page--about-us, .page--our-activities {
  .constrained.container {
    max-width: 665px;
  }
}







// ------------------ //
// Header //


.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.site-nav ol {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 2rem;
}


.site-nav ol li {

}





.site-nav
  background: $red
  height: 4rem
  
  ol
    list-style-type: none
    margin: 0 auto
    padding: 0
    
  > ol
    max-width: 1000px
    padding: 0 2rem
    display: flex
    
    > .menu-item
      flex: 1
      padding: 0.75rem 0
      
      &:after
        content: ''
        position: absolute
        width: 4px
        height: 4px
        border-radius: 50%
        bottom: 5px
        left: calc(50% - 2px)
        background: $yellow
        will-change: transform
        transform: scale(0)
        transition: transform 0.2s ease
      
      &:hover:after
        transform: scale(1)
  
  &-item
    position: relative
    line-height: 2.5rem
    text-align: center
    
    a
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      display: block
      color: $white
    
    @at-root .sub-menu &
      padding: 0.75rem 0
      background: $red
      opacity: 0
      transform-origin: bottom
      animation: enter 0.2s ease forwards
      
      @for $n from 1 through 3
        &:nth-child(#{$n})
          animation-duration: 0.2s + 0.1s * ($n - 1)
          animation-delay: 0.1s * ($n - 1)
      
      &:hover
        background: $orange
      
      a
        padding: 0 0.75rem
        
      @include mobile
        background: $red-dark

  @include mobile
    position: relative
    
    &:after
      content: ''
      position: absolute
      top: calc(50% - 2px)
      right: 1rem
      width: 30px
      height: 4px
      background: $white
      box-shadow: 0 10px $white, 0 -10px $white
      
    > ol
      display: none
      background: $red
      flex-direction: column
      justify-content: center
      height: 100vh
      animation: fade 0.2s ease-out
      
      > .menu-item
        flex: 0
        opacity: 0
        animation: enter 0.3s ease-out forwards
        
        @for $n from 1 through 5
          &:nth-child(#{$n})
            animation-delay: 0.1s * ($n - 1)
        
        & + .menu-item
          margin-top: 0.75rem
          
        &:after
          left: auto
          right: 1rem
          bottom: calc(50% - 2px)
        
        &:hover
          z-index: 1
      
    &:hover
      > ol
        display: flex
      
      &:after
        box-shadow: none
      
.sub-menu
  position: absolute
  width: 100%
  top: 100%
  left: 0
  display: none
  z-index: 1
  
  @at-root .menu-item:hover > &
    display: block
    
  @include mobile
    width: 100vw
    left: -2rem
    top: 50%
    transform: translateY(-50%)
  
html, body
  font-size: 16px
  font-family: 'Fira Mono', monospace
  margin: 0
  background: $black
 
*
  box-sizing: border-box

  &:before, &:after
    box-sizing: inherit

a
  text-decoration: none
  
@keyframes enter
  from
    opacity: 0
    transform: scaleY(0.98) translateY(10px)
  to
    opacity: 1
    transform: none
    
@keyframes fade
  from
    opacity: 0
  to
    opacity: 1




.site-nav a {
  font-size: 1.1rem;
  text-decoration: none;
}

$logo-height: 65px;
$logo-height-home: 90px;

img.logo {
    width: 190px;
}

// Footer //

footer {
  clear: both;
  margin-top: 100px;
  display: inline-block;
  width: 100%;
  background: $light-grey;
  padding: 40px 0;
  font-size: $font-size-tiny;
}

footer ul {
  display: block;
  padding: 0;
  float: left;
  width: 100%;
  li {
    list-style-image: none;
    list-style-type: none;
    float: left;
    clear: both;
    margin-bottom: 10px;
  }
  a {
    display: block;
    background: $almost-black;
    box-sizing: border-box;
    padding: 4px 7px 6px;
    text-decoration: none;
    color: $white;
    &:hover {
      background: $turquoise;
      color: $white;
    }
  }
}
.footer-2 {
  a {
    background: $turquoise;
    &:hover {
      background: $almost-black;
    }
  }
}
.footer-3 p {
  font-size: 15px;
}

.footer-block {
  @media (min-width : 600px) {
    width:50%;
    float: left;
  }
  @media (min-width : 900px) {
    width: 33%;
    float: left;
  }
}

.link-cookie {
  margin-left: 18px;
}

.link-twitter, .link-youtube {
  display: block;
  font-weight: 800;
  margin-top: 18px;
  text-decoration: none;
}

.link-youtube {
  margin-top: 3px;
}

